<h1>Nur für den Admin zugänglich</h1>

<table>
    <thead>
      <tr>
        <th>Counter</th>
        <th>Name</th>
        <th>Mail</th>
        <th>Password</th>
      </tr>
    </thead>

    
    <tr th:each="alluser, counter: ${allusers}">
        <td>
            <a th:text="${counter.count}"></a>
        </td>
        <td>
            <a th:text="${alluser.getUsername()}"></a>
        </td>
        <td>
            <a th:text="${alluser.getEmail()}"></a>
        </td>
        <td>
            <a th:text="${alluser.getPassword()}"></a>
        </td>
    </tr>
</table>

<h1>
    
</h1>

<a class="waves-effect waves-light btn" th:href="@{/registration}">Account erstellen</a>
        